/*
font-family: 'metropolisbold';
font-family: 'metropolisregular';

Titulos
font-family: "carter-one", sans-serif;
Texto corrido
font-family: "ubuntu", sans-serif;


ana hace otro cambio
*/
/*ÍCONOS MENÚ*/
.toolbar-inner img{
    width: 40%;
}

/*VESTUARIO ANA*/
/**VESTUARIO PRIMERA PARTE***/
.fondo-a{
    background-image: url(../static/images/Textura_Azul-01-01.png);
    padding-top: 0;

}
.titulos-h2{
    text-align: center;
    font-family: "carter-one", sans-serif;
    font-size: 4em;
    letter-spacing: 2px;
    -webkit-text-fill-color: rgba(134, 134, 134, 0.4);
    -webkit-text-stroke-width:1px;
    color: white;
    font-weight: 800;
    align-content: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contenido-principal-a {
    position: relative;
}
.caja-foto-pri img{
    width: 100%;
    height: 250px;
    object-fit:cover;
    border-radius: 3%;
}
.descripcion-a p{
    font-size: 1em;
    font-family: "ubuntu", sans-serif;
    text-align: justify;
    color: white;
}
.siguiente-a{
    display: block;
    text-align: right;
}
.margen{
    margin-top: 40px;
}
/**VESTUARIO SEGUNDA PARTE***/

.titulos-h4{
    font-family: "carter-one", sans-serif;
    font-size: 1.5em;
    color: white;
}
.pie-foto{
    color: white;
    font-family: "ubuntu", sans-serif;
}
.caja-foto-a img{
    width: 100%;
}
.linea-a{
    margin: auto;
    margin-bottom:50px;
    background-color: white;
    width: 50%;
}
/****SUBSECCIONES***/

.caja-subsecciones-a{
    position: relative;
    margin-bottom: 20px;
}
.caja-subsecciones-a:active{
    background-color: rgba(0, 0, 0, 0.70);
}

.caja-subsecciones-img img{
    width: 100%;
    height: 120px;
    object-fit:cover;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);

}

.info-subsecciones{
    color: white;
    font-size: 2em;
    position: absolute;
    bottom: 0%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/*PADDING*/
.iratras-a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.atras-a{
    display: block;
    text-align: left;
    margin-right: 10px;
}
.titulos-h4-atras{
    font-family: "ubuntu", sans-serif;
    font-size: 1.5em;
    color: white;
    font-weight: 200;
}
.titulos-h3{
    font-family: "carter-one", sans-serif;
    font-size: 2em;
    color: white;
}
/*TUCKING*/
.pasos-tucking{
    padding-top: 10px;
}
.txt-tucking{
    padding: 5px 0;
}
.caja-foto-ab img{
    width: 100%;
    height: 150px;
    object-fit: cover;

}
/*Pasos*/
.txt-tucking p{
    font-size: 1em;
    font-family: "ubuntu", sans-serif;
    color: white;
    margin-left:22%;
    margin-top: -50px;
}
.img-tuck img{
    width: 15%;
}


/*DEMOS STYLED CARD*/

.tarjeta-ana{
    background-color: rgba(3, 3, 3, 0.7);
}
.tarjeta-ana .info-tarjeta-a {
  height: 40vw;
  background-size: cover;
  background-position: top;
  color: #000000;
  font-weight: 700;
}
.tarjeta-ana p{
  color: #c3c3c3;
}

/*CONTENIDO VESTUARIO CARACTERISTICAS*/
.contenido-black{
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0 0 20px 0;
}
.galeria-a{
    display: flex;
    flex-wrap: wrap;
}
.galeria-a img{
    width: 50%;
    object-fit: cover;
}

/*BAILES*/
.bg-color-red{
    background-image: url(../static/images/bailes/pasos-voguing.jpg);
    background-size: cover;
    background-position: center;
}
.titulos-h3-2{
    font-family: "ubuntu-mono", sans-serif;
    font-size: 2em;
    color: #e63299;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 4px 8px rgba(0, 0, 0, .5);
}

.swiper-contenido-a{
    position: relative;

}
.swiper-a img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
